/*---------------
    - W3Schools: https://www.w3schools.com/css/default.asp
    - MDN web docs: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference#Basic_rule_syntax
----------------*/
/*-- General element style --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- General web page style --*/
html, body {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    color: lightgray;
    font-size: 0.9em;
}

/*-- Web page content wrapper --*/
.wrapper {
    height: 100%;
    position: relative;
}
.wrapper > * {
    padding: 10px;
}

/*-- Left panel container --*/
.tools-container {
    background: #141e30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #141e30, #243b55);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

/*-- Left panel container items --*/
.tools-container-items {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 10px 0 10px;
}

/*-- Content wrapper and size picker's elements --*/
#sizePicker > *,
.tools-container-items > * {
    margin-bottom: 15px;
}

/*-- Web page logo --*/
img {
    width: 100%;
    height: auto;
}

/*-- Form labels style --*/
h2 {
    font-size: 1em;
    overflow: hidden;
}
h2:nth-of-type(2) {
    margin-bottom: 10px;
}
/*-- Form labels centered line-splitting style --*/
h2:before,
h2:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}

/*-- Form input elements and button --*/
input {
    width: 65%;
    text-align: center;
}
input[type="number"],
input[type="submit"],
#button_clear {
    border-radius: 2px;
}
input[type="number"] {
    padding: 2px;
} 
input[type="submit"],
#button_clear {
    background-color: rgb(204, 204, 202);
    padding: 5px;
    border: 3px;
}
input[type="submit"] {
    border: 3px;
    width: 65%;
    margin-bottom: 1px!important;
}
#button_clear {
    width: 65%;
}

/*-- Right panel container items --*/
.canvas-container {
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
}

/*-- Right panel table (grid) style --*/
table,
tr,
td {
    border: 1px solid lightgray;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
tr {
    height: 13px;
}
td {
    width: 13px;
}


/*-- Media Query for screens (browser windows) smaller than 680px --*/
@media screen and (max-width: 680px) {
    /*-- Left panel container --*/
    .tools-container {
        text-align: center;
        position: relative;
        width: 100%;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
    }

    /*-- Left panel container items --*/
    .tools-container-items {
        position: relative;
        width: 100%;
        transform: unset;
        padding: 0 10px 0 10px;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
    }

    /*-- Content wrapper and size picker's elements --*/
    #sizePicker > *,
    .tools-container-items > * {
        margin-bottom: unset;
    }

    /*-- Web page logo --*/
    img {
        width: 50%;
        height: auto;
    }

    /*-- Form labels style --*/
    h2 {
        font-size: 1em;
        margin-bottom: 10px!important;
    }
    h2:nth-of-type(2) {
        margin-bottom: 5px!important;
    }

    /*-- Form input elements and button --*/
    input {
        display: unset;
        width: 50%;
        text-align: center;
    }
    input[type="number"] {
        width: 40%;
        padding: 2px;
        margin: 0 5% 0 5%;
    }
    input[type="submit"],
    #button_clear {
        margin: 10px 5% 10px 5%!important;
        width: 40%;
        padding: 3px;
        border: 4px;
    }
    input[type="submit"],
    #input_height {
        float: left;
    }
    input[type="color"] {
        width: 50%;
        margin: 0 0 5px 0!important; 
    }

    /*-- Right panel container items --*/
    .canvas-container {
        align-items: center;
        justify-content: center;
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    /*-- Right panel table (grid) style --*/
    table,
    tr,
    td {
        border: 1px solid lightgray;
    }
    table {
        border-collapse: collapse;
        margin: 0 auto;
        max-width: 100%;
        background-color: white;
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        transform: unset;
    }
    tr {
        height: 13px;
    }
    td {
        width: 13px;
    }
}